.cards{
    display: flex;
    justify-content: start;

}
.drops{
    left: 250px;
    top: 15px;

}
.cardinho img{
    border: 1px solid transparent;
    border-radius: 10px;
    width: 300px;
    height: 200px;
}
.cardinho button{
    padding: 10px;
    background-color: grey;

}