.NotificationsChats{
    display: flex;
    margin-top: 30px;
    
}

.screenNotify{
    width: 650px;
}

@media (max-width: 768px) {
    .screenNotify {
        min-height: 200px; /* Ajuste a altura conforme necessário */
      }

    .NotificationsChats{
        display: flex;
        flex-direction: column;
        height: 1200px;
        
    }
    .screenNotify{
        width: 100%;
    }
    
    .chat-container {
        width: 100%;
      }

    .screenNotify{
        padding: 0;
        margin: 0;
        height: 20px;
    }
    
}
